/* coms/state/state.wxss */
._state {
    display: flex;
    padding: 20rpx;
    align-items: center;
    justify-content: center;
    color: var(--color);
    font-size: 26rpx;
    flex-direction: column;

    >._loading {}

    >._null {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        >image {
            width: 100rpx;
            height: 100rpx;
        }
    }

    >._com {}
}