/* coms/loading/loading.wxss */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 10rpx);
    z-index: 999;
    background-color: rgb(0 0 0 / 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}